.body {
    font-size: 25px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 2px 2px 5px rgb(255, 15, 15);
    background-color: bisque;
}

div {
    padding: 5px;
    border-radius: 10px;
    margin: 2px
}

nav {
    float: right;
    display: inline;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.navbar{
    border-radius: 0;
    border: 3px dashed rebeccapurple;
    background-color: gray;
    margin: 0px;
    padding: 0px;
}

.btn {
    font-size: 25px;
    font-style: italic;
    cursor: pointer;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 8px;
    border: 2px inset rgba(255, 0, 0, 0.5);
    background: linear-gradient(310deg, rgba(184, 135, 11, 0.75), rgba(240, 128, 128, 0.75));
    transition: 0.2s;
}

.inside {
    padding: 5px;
    border-radius: 10px;
    margin: 2px;
}

.background {
    background-image: linear-gradient(310deg, rgba(184, 135, 11, 0.75), rgba(240, 128, 128, 0.75)), url('animefood.gif');
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.h1 {
    font-size: 50px;
}

.h2 {
    display: inline;
    font-size: 35px;
}

.projs {
    background-image: linear-gradient(310deg, rgba(34, 34, 34, 0.75), rgba(255, 255, 255, 0.75)), url('ngodingmulu.gif');
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.btn:hover {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.4);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    border: 2px groove crimson;
    transform: scale(1.1);
}