/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&display=swap');

html{
    margin:0px;
    padding:0px;
    background-image: url('background.gif');
    background-position: fixed;
    background-repeat: no-repeat;
    background-size:cover;
}